.textos1{
    font-weight: bold !important;
    color: rgb(90, 89, 89) !important;
    text-decoration: none !important;
}
 
 .imagem{
     background-image: url(https://imgur.com/msSCCdI.png);
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }
 
 .text-decorator-none{
     text-decoration: none;
 }

 .botao2{
    border-color: white !important;
    background-color: #EFA885 !important;
    color: rgb(90, 90, 90) !important;
 }

 