.box1{
    background-color: #EEBCB0;
    height: 120px;
}

.box2{
    background-color: #F3A65A;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}