.caixa{
    background-color: #FBDCCE!important;
}

.titulo{
   color: gray !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #EFA885 !important;
    color: white !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}
