.btnSim{
    margin-right: 20px !important;
    color:rgb(90, 89, 89) !important;
    background-color: #EFA885 !important;
}

.btnNao{
    margin-right: 20px !important;
    color:rgb(90, 89, 89) !important;
    background-color: #FBDCCE !important;
}