.imagem2{
    background-image: url(https://www.canva.com/design/DAFCZkhyBkQ/view);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.button{
    margin-right: 20px !important;
    border-color: white !important;
    background-color: #EEBCB0 !important;
    color: white !important;
}

.button1{
    margin-right: 20px !important;
    border-color: white !important;
    background-color: #F3A65A !important;
    color: white !important;
}